/*
####################
Document-wide settings
####################
*/

:root {
  --primary-color: #066466;
  --secondary-color: #deb041;
  --accent-color: #6a2b56;
  --text-color: #353535;
  --text-color-lighter: #646262;
  --text-color-light: #bebebe;
  --bg-light: #fff8e6;
}

html {
  font-size: 1rem;
  font-family: sans-serif;
  color: var(--text-color);
  min-width: 360px;
}

a {
  color: var(--primary-color);
  text-underline-offset: 0.25em;
}

img {
  object-fit: cover;
}

/*
####################
Header & Nav
####################
*/

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4rem;
  background: white;
}

menu {
  list-style: none;
  margin: 0;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

menu a {
  color: var(--text-color-lighter);
  text-decoration: none;
  line-height: 1.5;
  background-image: linear-gradient(var(--primary-color), var(--primary-color));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s cubic-bezier(0.33, 1, 0.68, 1),
    color 0.2s ease-in-out;
}

menu :is(a:hover, a:focus, a:active) {
  color: var(--primary-color);
  background-size: 100% 0.1em;
  background-position-x: 0%;
}

menu a.logo-name {
  background-image: linear-gradient(
    var(--secondary-color),
    var(--secondary-color)
  );
}

menu img {
  height: 2rem;
  width: 2rem;
  display: inline-block;
}

.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--text-color-light);
}

/* .logo-name:hover {
  color: var(--secondary-color);
} */

.logo-name em {
  font-weight: bold;
  font-style: normal;
  color: var(--text-color);
}

/*
####################
Footer
####################
*/

.header__content,
.footer__content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

footer {
  border-top: 1px solid hsla(0, 0%, 50%, 0.1);
}

.footer__content {
  display: flex;
  gap: 1rem;
  padding: 1rem 1.5rem 2rem;
}

.footer__content > :first-child {
  margin-right: auto;
}

/*
####################
Main
####################
*/

main {
  margin-top: 4rem;
}

/* Sections */

section {
  display: grid;
  grid-template-columns: 1fr min(1200px, 100%) 1fr;
}

.section__title {
  width: 100%;
  text-align: center;
  padding: 0 0 1rem 0;
  padding-left: 0.5em;
  border-bottom: 0.25em dotted var(--primary-color);
}

.section__content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  grid-column: 2;
  padding: 2rem 1rem;
}

/* Section specific settings */

.hero {
  background: var(--bg-light);
}

.courses {
  background: white;
}

:is(.info, .thesis) > .section__content {
  gap: 2rem 2.5rem;
}

.hero > .section__content {
  padding: 0;
}

.thesis > .section__content {
  padding: 2rem 0;
}

.courses > .section__content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Hero */

.hero__image {
  aspect-ratio: 16 / 10;
}

.hero__content {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--text-color);
  padding-left: 0.5em;
  border-left: 0.25em solid var(--primary-color);
}

.hero__text {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color-lighter);
  margin-bottom: 1.5rem;
}

.hero__cta {
  color: white;
  background: var(--secondary-color);
  font-weight: bold;
  letter-spacing: 0.05em;
  width: 100%;
  padding: 0.5rem;

  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.hero__cta:hover {
  filter: brightness(1.2);
}

/* Normal card */

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.card.card--highlight {
  display: grid;
  grid-column: 1;
  grid-row: span 3;
}

.card.card--highlight .card__content {
  padding-left: 1em;
  border-left: 0.25em solid var(--secondary-color);
}

.card__media {
  flex: 1 1 100%;
  align-self: flex-start;
}

.card__content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.card__title {
}

.card__preview {
}

.card__text {
}

.card__author {
}

.card__link {
}

/* Courses card */

.courses__card {
  flex: 100%;
  color: white;
  background: var(--primary-color);
}

.courses__card__content {
  padding: 1rem 1rem;
}

.courses__card__title {
}

.courses__card__subtitle {
  text-transform: uppercase;
}

.courses__card__text {
}

@media screen {
  .hidden {
    display: none !important;
  }
}

@media screen and (max-width: 759px) {
  .desktop {
    display: none !important;
  }
}

@media screen and (min-width: 760px) {
  .mobile {
    display: none !important;
  }

  menu li:first-child {
    margin-right: auto;
  }

  .courses {
    background: var(--bg-light);
  }

  .courses > .section__content {
    gap: 2rem;
    padding: 2rem 4.5rem !important;
  }

  .section__content {
    grid-template-columns: 60% 1fr;
    align-items: stretch;
    padding: 2rem 1.5rem !important;
  }

  .section__title {
    grid-column: span 2;
  }

  .logo-name {
    font-size: 1.5rem;
  }

  .logo-name img {
    height: 3rem;
    width: 3rem;
  }

  .hero__image {
    aspect-ratio: 4 / 3;
    grid-column: 1;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
    max-width: 40ch;
    padding: 0 1.5rem;
  }

  .card {
    flex-wrap: nowrap;
    grid-column: 2;
  }

  .card__media {
    flex: 0 1 35%;
  }

  .card__content {
    flex: 0 1 65%;
    padding: 0;
  }

  .courses__card {
    flex: 1 0 max(250px, 30%);
    color: var(--text-color);
    background: white;
  }

  .courses__card__title {
    color: var(--accent-color);
  }
}
