:root {
  --primary-color: grey;
  --secondary-color: lightgrey;
  --text-color: #272727;
  --text-color-lighter: #3f3f3f;
}

html {
  font-size: 1rem;
  font-family: sans-serif;
  color: var(--text-color);
  min-width: 360px;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4rem;
  background: white;
}

header > nav {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

main {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr min(1200px, 100%) 1fr;
}

main > * {
  grid-column: 2;
}

menu {
  list-style: none;
  margin: 0;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

menu img {
  height: 2rem;
  width: 2rem;
  display: inline-block;
}

.desktop {
  display: none;
}

.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background: var(--secondary-color);
}

.hero__image {
  aspect-ratio: 16 / 10;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.hero__content {
  padding: 2rem 1rem;
  margin: 0;
}

.hero__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.hero__text {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color-lighter);
  margin-bottom: 1.5rem;
}

.hero__cta {
  color: white;
  background: var(--primary-color);
  font-weight: bold;
  letter-spacing: 0.05em;
  width: 100%;
  padding: 0.5rem;

  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.hero__cta:hover {
  filter: brightness(1.2);
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;

  padding: 1rem 0;
}

.info-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem;
}

.info-card--highlight {
  display: none;
}

.info-card__image-container {
  height: auto;
  width: 100%;
  align-self: flex-start;
}

.info-card__image-container > img {
  object-fit: contain;
}

.info-card__content {
  padding: 0 1rem;
}

.info-card__title {
  padding-bottom: 0.5rem;
}

.info-card__preview {
}

.info-card__text {
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 760px) {
  menu li:first-child {
    margin-right: auto;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .logo-name {
    font-size: 1.5rem;
  }

  .logo-name img {
    height: 3rem;
    width: 3rem;
  }

  .hero {
    display: flex;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40ch;
  }

  .hero__image {
    aspect-ratio: 4 / 3;
    width: 60%;
    padding: 2rem 1.5rem;
  }

  .info {
    grid-template-columns: 60% 40%;
  }

  .info-card {
    flex-wrap: nowrap;
    grid-column: 2;
  }

  .info-card--highlight {
    display: grid;
    flex-wrap: wrap;
    grid-column: 1;
    grid-row: span 3;
    padding: 1rem 0.5rem 1rem 1.5rem;
  }

  .info-card__image-container {
    flex: 0 0 35%;
  }

  .info-card__content {
    flex: 0 0 65%;
  }

  .info-card--highlight > .info-card__content {
    padding: 0;
  }
}
